@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;600;800&display=swap');



* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Grandstander', cursive;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  line-height: 1.5;
  
}
h1 {
  text-align: center;
  
  filter: drop-shadow(2px 4px 3px black);
  font-size: 70px
}


.app {
  max-width:  700px;
  padding-bottom: 30px;
  padding-top: 30px;
  height: 100vh;
  display: flex;
    flex-direction: column;
  
  
}
/* @media (min-width: 700px){
  .app {    
    display: grid;
    grid-template-rows: 30% 5% 60% 5%;
    height: 90vh;
    
  }
} */
.app__title {
  font-family: 'Grandstander', cursive;
  font-weight: bold;
  margin: 0;
  flex-basis: 200px;
  height: 87px;
  text-align: center;  
  filter: drop-shadow(2px 4px 3px black);
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.streak-checker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.streak-checker progress {
  margin: 0;
}


.question-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.category-selector {
  max-width: 60%;
}

.category-selector select {
  font-size: 16px;
  width: 100%;
}

.category-selector p {
  margin: 0;
  font-size: 16px;
}

.scoreboard {
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 16px;
  line-height: 1;
  color: rgb(255, 255, 255);
  font-size: 40px;
  justify-content: center;
  
}

.scoreboard > div:not(:last-child){
  margin-right: 25px;
}

.scoreboard .wrong {
  color: tomato;
}

.scoreboard .correct {
  color: rgb(0, 206, 0);
}

.scoreboard strong {
  
  display: block;
  margin-bottom: 3px;
}

.result-modal {
  color: #333;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  
  padding: 5% 0;
}

.result-modal .overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.result-modal-content {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 30px;
  width: 400px;
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);
}

.result-modal.is-correct h3 {
  color: rgb(63, 162, 63);
}

.result-modal.is-wrong h3 {
  color: rgb(211, 79, 79);
}

.result-modal-content h3 {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.result-modal-content .correct-answer {
  margin-bottom: 20px;
  overflow: hidden;
    text-overflow: ellipsis;
}

.result-modal-content .correct-answer small {
  color: #777;
}

.result-modal-content .correct-answer strong {
  font-size: 40px;
}


.question-main {
  background: #fff;
  color: #333;
  border-radius: 10px;
  padding: 2.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 90%;
  /* min-height: 350px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
  
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
}
.question__header {
  display: flex;
  justify-content: space-between;  
}

.question h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #5c2b00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  border: none;
  border-radius: 0.25rem;  
  background-color: #FF7900;
  transition: 0.2s ease all;
  line-height: 1;
  font-family: inherit;  
  outline: none;
}

button:hover {
  background-color: #FF9E00;
  box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 0px 5px #ff9d0086);
  transform: translateY(-1px);
}

.question-footer {
  margin-top: 15px;
  text-align: right;
}

.question-footer button {
  background: #ccc;
  border-color: #aaa;  
  width: auto;
  margin-left: auto;
  font-size: 12px;
  padding: 10px 20px;
}
.question .category-button {
  text-align: left top;
  align-self: start;
  cursor: pointer;
  color: #882bff;
  transition: all .3s ease;
  margin-bottom: 40px;
  
}
.question .category-button:hover {  
  color: #ff8411;
  transform: translateY(-1px);
}
.modal-button {
  padding: 3px
}

body {
  background: radial-gradient(#9D4EDD,#240046);
  }
